
main .w {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
}

.m {
    background-color: #00EC0673;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    height: 70%;
}
main .w .I p {
    color: #64748B;
    font-size: clamp(16px, 1.5vw, 30px);
}

main .w .I button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: clamp(20px, 1.5vw, 25px);
}
main .w section input {
    padding: 5px 25px;
    font-size: 16px;
    
    top: 20px;
    left: 0px;
    border-radius: 5px;
    border: 1px solid #F5F5F7;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    
}

main .w section i {
    position: absolute;
    top: 8px;
    left: 10px;
    z-index: 1000;
}
.priject{
    background: rgba(124,58,237,0.16);
}
.II {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.II div {
    display: flex;
    justify-content: space-between;
    border:1px solid #D2D2D7;
}

.II button {
    z-index: 2000;
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 16px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.pro {
    
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    
}

.row1,
.row2,
.row3,
.row4,
.row5,
.head {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    padding: 5px;
    text-align: center;
    gap: 20px;
}

.row1,
.row2,
.row3,
.row4,
.row5,
.head p {
    font-size: clamp(16px, 1.5vw, 30px);
}

.o {
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: center;
}

.prime {
    background:none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container {}

.q {
    height: 15px;
    width: 80%;
    border: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
}

h3 {
    font-size: clamp(25px, 3vw, 40px);
}

.q1 {
    background-color: #FFFFFF;
}

.q1 p {
    width: 70%;
    height: 100%;
    background-color: #4C1D95;
    border-radius: 25px;
}

.q2 p {
    width: 50%;
    height: 100%;
    background-color: #6D28D9;
    border-radius: 25px;
}

.q3 p {
    width: 90%;
    height: 100%;
    background-color: #6366F1;
    border-radius: 25px;
}

.q4 p {
    width: 40%;
    height: 100%;
    background-color: #8B5CF6;
    border-radius: 25px;
}

.q5 p {
    width: 60%;
    height: 100%;
    background-color: #C4B5FD;
    border-radius: 25px;
}

@media (min-width:768px) {
    .logo {
        height: 60px;
    }
    
    nav img {
        height: 40px;
    }
    
    .row1,
    .row2,
    .row3,
    .row4,
    .row5,
    .head {
        grid-template-columns: 300px 300px 300px 300px 300px;
        gap:50px;
    }
}

@media (min-width:1024px) {
    .logo {
        height: 80px;
    }
    
    nav img {
        height: 60px;
    }
    
    .row1,
    .row2,
    .row3,
    .row4,
    .row5,
    .head {
        grid-template-columns: 300px 300px 300px 300px 300px;
        gap:60px;
    }
}